body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: pink;
  }

.container{
    width: 300px;
    height: 650px;
    padding: 20px 30px;
    overflow: hidden;
    position: relative;
    border-radius: 15px;
    background: linear-gradient(lightgreen 0%, lightblue 90%);
    box-shadow: 0px 6px 15px black;
    background-blend-mode: screen;
  }

.container i{
    cursor: pointer;
  }
  
.head-bar {
    display: flex;
    align-items: center;
    justify-content: space-evenly; 
  }

  .head-bar span{
    font-size: 25px;
    font-weight: bold ;
    justify-content: space-evenly;
    color: black ;
  }
  
  .album-cover-img{
    width: 100%;
    height: 300px;
    overflow: hidden;
    margin-top: 25px;
    border-radius: 50%;
    border-radius: 50%;
    box-shadow: 0 0 0 5px white,
      0 0 2px white,
      13px 13px 20px whitesmoke,
      -10px -10px 20px white;
  }

  .album-cover-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .album-info{
    text-align: center;
    margin: 30px 0;
  }

  .album-info p{
    color: darkolivegreen;
  }

  .album-info .name{
    font-size: 25px;
  }

  .album-info .artist{
    font-size: 18px;
    opacity: 0.9;
    line-height: 10px;
  }

  .play-area .play-time, 
  .audio-controls, .playlist .header, .playlist ul li{
    display: flex;
    align-items: center;
    justify-content: space-between; 
  }

  .play-area{
    height: 7px;
    width: 100%;
    border-radius: 50px;
    background: lightgrey;
    cursor: pointer;
  }

  .play-area .slide-bar{
    height: inherit;
    width: 0%;
    position: relative;
    border-radius: inherit;
    background: whitesmoke;
  }

  .slide-bar::before{
    content: "";
    position: absolute;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    top: 50%;
    right: -5px;
    z-index: 2;
    opacity: 0;
    pointer-events: none;
    transform: translateY(-50%);  
    background: inherit;
    transition: opacity 0.2s ease;
  }

  .play-area:hover .slide-bar::before{
    opacity: 1;
    pointer-events: visibleStroke;
  }

  .play-area .play-time{
    margin-top: 3px;
  }

  .play-time span{
    font-size: 13px; 
    color: black;
  }

  .volume_section{
    float: right;
    color: white;
    margin: 20px 0 3px 0;
  }

  .audio-controls{
    margin: 70px 0 5px 0;
  }

  .audio-controls i{
    font-size: 28px;
    user-select: none;
    background: white;
    background-clip: text;
     -webkit-background-clip: text; 
     -webkit-text-fill-color: transparent; 
  }

  .audio-controls i:nth-child(2),
  .audio-controls i:nth-child(4){
    font-size: 43px;
  } 

  .audio-controls #prev-btn{
    margin-right: -13px;
  }
  
  .audio-controls #next-btn{
    margin-left: -13px;
  }
  
  .audio-controls i.prev-btn{
    font-size: 38px;
  }

  .audio-controls i.next-btn{
      font-size: 38px;
    
  }
  
  .audio-controls .play-pause{
    height: 54px;
    width: 54px;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-shadow: 
      0 0 2px #fff,
      8px 8px 15px lightskyblue,
      -3px -3px 15px #f0ecec;
  }

  .play-pause::before{
    position: absolute;
    content: "";
    height: 43px;
    width: 43px;
    border-radius: inherit;
    background: transparent;
    border: 3px solid white;
  }

  .play-pause i{
    height: 43px;
    width: 43px;
    line-height: 43px;
    text-align: center;
    background: inherit;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: green; 
    position: absolute;  
  }

  .prev-btn , .next-btn {
    box-shadow: 
      0 0 2px white,
      8px 8px 15px lightyellow,
      -3px -3px 15px white;
    border-radius: 50%;
  }

  .playlist{
    position: absolute;
    width: 300px;
    bottom: -55%;
    opacity: 0;
    pointer-events: none;
    left: 0;
    box-shadow: 0px -5px 10px black;
    z-index: 5;
    padding: 15px 30px;
    border-radius: 15px;
    background: lightskyblue;
    background-blend-mode: screen;
    transition : all 0.15s ease-in-out;
  }
  
  .playlist.show{
    bottom: 0;
    opacity: 1;
    pointer-events: auto;
  }

  .playlist ul{
    margin-top: 10px 0;
    max-height: 260px;
    overflow: auto;
  }

  .playlist ul li{
    list-style: none;
    display: flex; 
    cursor: pointer;
    padding-bottom: 10px;
    margin-bottom: 5px;
    color: black;
    border-bottom:  1px solid white;
  }

  .playlist ul li:last-child{
    border-bottom: 0px;
  }

  .playlist ul li .row span{
    font-size: 17px;
  }

  .playlist ul li .row p{
    opacity: 0.6;
  }

  ul li .song-duration{
    font-size: 16px;
  }

  .header .row{
    display: flex;
    align-items: center;
    font-size: 19px;  
    color: darkolivegreen;
  }
  
  .header .row i{
    cursor: default;
  }

  .header .row span{
    margin-left: 10px;
  }

  .header #closelist{
    font-size: 22px;
    margin-left: 3px;
    color: darkolivegreen;
  }

  .playlist ul::-webkit-scrollbar{
    width: 0;
  }

  .playlist ul li:hover{
    color: blue;
  }
  
  ul li.playing{
    pointer-events: none;
    color: blue;
  }
  

